/*body stuff*/
body{
  background:#9883BD;

}
.Tital{
    color:#FF6191;
    Font-size: 30px;
    border-bottom:black 2px solid;
    border-radius: 5px;
    margin:auto;
    text-align:center;
    background-color:black;
}

.mainDiv{
  height:100vh;
  width:100vw;
}
/*video stuff*/
.VideoScreen{
  position:relative;
  top:0%;
  height:70%;
}
.videoElement{
  width:40%;
  margin-left:10%;
  margin-right:10%;
  height:70%;
}
#screen-left{
  position:absolute;
  left:8%;
  top:0%;
}
#screen-right{
  position:absolute;
  right:8%;
}





/*Left box*/
#left{
  width:20%;
  left:0px;
}
#Emergency{
  color:black;
  background-color: red;
  border-radius:10px;
  border: black 3px solid;
  font-size:10px;
  height:50px;
  width:70%;
  position:absolute;
  top:70%;
  left:15%;

}
/*Middle*/
#middle{
  width:50%;
  right:30%;
}
.errorblock{
  position: absolute;
  right:5%;
  top:0%;
  background-color: black;
  color:white;
  height:95%;
  border: 5px solid black;
  border-radius:3px;
  margin:auto;
  width:50%;
}
.errors{
  font-size:12px;
  color:red;
}

/*Right stuff*/
#right{
  width:30%;
  right:0px;
}


/*Bottom stuff*/
.bottomdiv{
  height:100%;
  position:absolute;
}
.bottom{
  width:99%;
  border: 2px solid black;
  border-radius:3px;
  height:20%;
  position:relative;

}



