<!DOCTYPE html>
<html>
    <head>
        <title id="Top">Roboliz Command Console</title>
        <link rel="stylesheet" type="text/css" href="/static/robolizCss.css">
        <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
        
    </head>
    <body onkeydown="
        if(event.keyCode == '65' ){
            Keys('A');
        }else if(event.keyCode == '87' ){
            Keys('W');
        }else if(event.keyCode == '83' ){
            Keys('S');            
        }else if(event.keyCode == '68' ){
            Keys('D');
        }else if(event.keyCode == '80' ){
            Keys('P');
        }else if(event.keyCode == '74' ){
            Keys('J');
        }else if(event.keyCode == '75' ){
            Keys('K');
        }
    ">
        <div class="mainDiv">
            <div class="Top">
                <h1 class = "Tital">Remote Access Video Robot</h1>
            </div>
            <div class = "VideoScreen">                
                <video autoplay="true" class="videoElement" id="screen-left">

                </video>
                <video autoplay="true" class="videoElement" id="screen-right">

                </video>
                <video autoplay="true" class="videoElement" id="MiniScreen">

                </video>
                
            </div>
            <div class = "bottom">
                <div id="left" class="bottomdiv">
                    <div class = "MiniDiv">
                        <h3>Volume: </h3>
                        <h2 id="CURRENTVOLUME">50%</h2>
                        <button class = "controlBut" id="upVol">+</button>
                        <button class = "controlBut" id="downVol"> - </button>
                    </div>
                    <div class = "MiniDiv" style="right:5%;">
                        <button class ="controlBut" id="mute"><img id = "muteimage" src="/static/nonmuted.png"></button>
                        <button class ="controlBut" id="camera"><img id="cameraimage" src="/static/Camera.png"></button>
                    </div>
                    <button class = "But" id = "Emergency">EMERGENCY STOP!</button>
                </div>
                <div id="middle" class="bottomdiv">
                    <div id="Distance">
                        <h3 class="above">Closest object:</h3>
                        <p class="below">{{distance}}</p>
                    </div>
                    <div id="power">
                        <h3 class="above">Power level:</h3>
                        <p class="below">{{power}}</p>
                    </div>
                    <div class="errorblock">
                        <p>Error log:</p>
                        {% for e in range(0,5) %}
                            <p class="errors" id="E{{e}}">{{error[e]}}</p>
                        {% endfor %}
                    </div>
                </div>
                <div id="right" class="bottomdiv">
                    <h3>Controls:</h3>
                    <p>To move: use WASD</p>
                    <p>Turning Mid Camera: J&K</p>
                    <p>To change Cameras: P</p>
                    <p>All other features are coming soon...</p><!-- O IS A GOOD KEY!-->
                </div>

            </div>




        </div>
    </body>
    <script src="/static/RobolizControl.js"></script>
    

</html>
